.terminal {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    box-shadow: 2px 4px 10px #00000080;
}

.toolbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    padding: 0 8px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(#504b45 0%,#3c3b37 100%);
    font-size: 0.75rem;
    color: #d5d0ce;
}

.terminal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #380428ee;
    color: #d5d0ce;
}

.typed {
    margin: 0.2em 0 0 0.5em;
}

.text{
    font-family: 'Ubuntu mono', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.user {
    color: #6AC441;
}

.Typist {
    margin-bottom: 0.9em;
}

.Typist .Cursor{
    display: inline-block; 
}

.Typist .Cursor--blinking{
    opacity: 1;
    animation: blink 1s linear infinite; 
}

.user-name {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Ubuntu mono', sans-serif;
    font-size: 0.92rem;
    color: #d5d0ce;
}

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; } 
}

@media only screen and (max-width: 600px) {
    .terminal {
        width: 95vw;
        height: 60vh;
    }
}