.buttons button {
    border: 1px solid #F57F48;
    background: linear-gradient(#F57F48 0%, #E47640 100%);
    color: #ffffff;
}

.buttons button:active {
    background: linear-gradient(#F57F48 0%, #d8703c 100%);
    color: #ebebeb;
}

.buttons #edit {
    flex-grow: 1;
}

.buttons #counter {
    margin-left: 0.2em;
    padding: 0 0.5em;
}
