.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: scroll;
}

.counters p {
    margin-bottom: 0;
}

.counters button {
    padding: 0 0.4em;
}